 <div class="user-details">
  <h1> About Me </h1>
  <p> <ul>Junior Undergraduate student at 
    Delhi Technological University with Electronics as a major.</ul> 
      <ul>Interests: Digital Design, Digital Signal Processing and Machine Learning.</ul></p>
</div>
  <!-- <div class="user">
    <div class="tech"> -->
      <!-- <h2>Coursework</h2> -->
      <!-- <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
       <!-- <p>Junior Undergraduate Student at DTU with Electronics as a major.</p> -->
    </div>
    <!-- <div class="tech">
      <h2>Code</h2>
       <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <!-- <p>C/C++, Python, R, Verilog, SystemVerilog, VHDL, Shell Scripting, tcl/tk, Perl</p> -->
    <!-- </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p> Xilinx ISE Design Suite, Vivado, Intel Quartus, Icarus Verilog, GHDL, Yosys, ModelSim,
        Cadence OrCAD, Pspice </p> --> -->
    </div>
</div>
