 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Coursework</h2>
      <!-- <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <!-- <p>Analog Electronics, Digital Design, Signal Processing, Computer Architecture</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
       <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <!-- <p>C/C++, Python, R, Verilog, SystemVerilog, VHDL, Shell Scripting, tcl/tk, Perl</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p> Xilinx ISE Design Suite, Vivado, Intel Quartus, Icarus Verilog, GHDL, Yosys, ModelSim,
        Cadence OrCAD, Pspice </p> -->
    </div>
</div>
