<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mips" src="{{ "/assets/img/mips.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> DESIGN AND IMPLEMENTATION OF MIPS32 MICROPROCESSOR </h3>
    <ul>
      <li> 5-stage pipelined design for a simple 32-bit Reduced Instruction Set Chip (RISC)
         ISA microprocessor MIPS32 written in Verilog HDL.</li>
      <li> Used the 5 step instruction cycle as pipeline stages to increase throughput with 
        a two phase clock design.</li>
    </ul>
    <a class="project-link" href="https://siddhantv10.github.io/MIPS32/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="function generator" src="{{ "/assets/img/pro.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DESIGN AND SYNTHESIS OF 74xx181 ALU FUNCTION GENERATOR </h3>
    <ul>
      <li> Designed the 74xx181 Arithmetic Logic Unit/Function generator using Verilog HDL and synthesized it on
        Lattice ice40 FPGA using Yosys.</li>
      <li> The RTL schematic and FSM diagram was generated in bit image format and consisted of 
        300+ logic units.</li>
    </ul>
    <a class="project-link" href="https://siddhantv10.github.io/74xx181-ALU-Design/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="ASTABLE MULTIVIBRATOR CIRCUIT" src="{{ "/assets/img/download.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ASTABLE MULTIVIBRATOR CIRCUIT </h3>
    <ul>
      <li> Implemented an astable multivibrator inverter circuit which could produce 220V, 50Hz ac
        output from a 9V dc battery, using 2n2222a NPN transistors and IRF840 MOSFETs.</li>
      
    </ul>
    <a class="project-link" href="https://siddhantv10.github.io/Astable-Multivibrator/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Global Earthquakes- Visualization" src="{{ "/assets/img/newplot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> GLOBAL EARTHQUAKES - VISUALIZATION </h3>
    <ul>
      <li> A visualisation project which reads a json file and produces a visual view of signifcant global earthquakes
        from the past month with location coordinates and magnitude scale. </li>
      <li> Used Scattergeo and layout modules of plotly package and json module. </li>
    </ul>
    <a class="project-link" href="https://github.com/siddhantv10/globalEarthquakes#global-earthquakes--visualization">Check it out</a>
  </div>
</div>

