<div class="user-details">
  <h1> Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="audio" src="{{ "/assets/img/sample-sound.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Urban Sound Classification using CNN</h3>
    <ul>
      <li> Used a multi-layer CNN model to classify audio signals and achieved 91% accuracy on testing dataset</li>
      <li> Processed audio samples with MFCCs into log scaled mel spectrograms </li>
    </ul>
    <a class="project-link" href="https://drive.google.com/file/d/1dJSgNWCfXDPk_CVQ3lQsDNuJga0a5Ywb/view">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">  
      <img alt="spread spectrum" src="{{ "/assets/img/spread-spectrum.png" | prepend: site.baseurl }}" />
    </div>

  <div class="contents-right">
    <h3> Generation of NRZ encoded m-sequences using Primitive Polynomials </h3>
    <ul>
      <li> LFSR based generation of PN sequence for spread spectrum modulation using primitive polynomials </li>
      <li> Verified m-sequence using Kronecker Delta auto-correlation function </li>
    </ul>
    <a class="project-link" href="https://drive.google.com/file/d/1dJSgNWCfXDPk_CVQ3lQsDNuJga0a5Ywb/view">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="comp" src="{{ "/assets/img/compar.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Design Optimization of a Fibonacci Calculator using SystemVerilog </h3>
    <ul>
      <li> Implementing the fibonacci calculator written in SystemVerilog HDL using 3 different
         approaches and analyzing the difference in number of logic devices used.</li>
      <li> Achieved 29.5% and 40.98% reduction in the number of logic
        elements used on adoption of the two different optimization approaches. </li>
    </ul>
    <a class="project-link" href="https://siddhantv10.github.io/fibonacci-optimization/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">  
      <img alt="Projectile" src="{{ "/assets/img/projectile.png" | prepend: site.baseurl }}" />
    </div>

  <div class="contents-right">
    <h3> MATLAB GUI app which plots the trajectory of a given projectile </h3>
    <ul>
      <li> Takes initial position, initial velocity and angle of projection as input 
        and displays the trajectory along with the max height, range and peak position of the projectile.</li>
      <li> Option to set different values of acceleration due to gravity as per different gravitational bodies
         including moon, mars and jupiter.</li>
    </ul>
    <a class="project-link" href="https://siddhantv10.github.io/projectile/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mips" src="{{ "/assets/img/mips.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> DESIGN AND IMPLEMENTATION OF MIPS32 MICROPROCESSOR </h3>
    <ul>
      <li> 5-stage pipelined design for a simple 32-bit Reduced Instruction Set Chip (RISC)
         ISA microprocessor MIPS32 written in Verilog HDL.</li>
      <li> Used the 5 step instruction cycle as pipeline stages to increase throughput with 
        a two phase clock design.</li>
    </ul>
    <a class="project-link" href="https://siddhantv10.github.io/MIPS32/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="function generator" src="{{ "/assets/img/pro.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DESIGN AND SYNTHESIS OF 74xx181 ALU FUNCTION GENERATOR </h3>
    <ul>
      <li> Designed the 74xx181 Arithmetic Logic Unit/Function generator using Verilog HDL and synthesized it on
        Lattice ice40 FPGA using Yosys.</li>
      <li> The RTL schematic and FSM diagram was generated in bit image format and consisted of 
        300+ logic units.</li>
    </ul>
    <a class="project-link" href="https://siddhantv10.github.io/74xx181-ALU-Design/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="ASTABLE MULTIVIBRATOR CIRCUIT" src="{{ "/assets/img/download.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ASTABLE MULTIVIBRATOR CIRCUIT </h3>
    <ul>
      <li> Implemented an astable multivibrator inverter circuit which could produce 220V, 50Hz ac
        output from a 9V dc battery, using 2n2222a NPN transistors and IRF840 MOSFETs.</li>
      
    </ul>
    <a class="project-link" href="https://siddhantv10.github.io/Astable-Multivibrator/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Global Earthquakes- Visualization" src="{{ "/assets/img/newplot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> GLOBAL EARTHQUAKES - VISUALIZATION </h3>
    <ul>
      <li> A visualisation project which reads a json file and produces a visual view of signifcant global earthquakes
        from the past month with location coordinates and magnitude scale. </li>
      <li> Used Scattergeo and layout modules of plotly package and json module. </li>
    </ul>
    <a class="project-link" href="https://github.com/siddhantv10/globalEarthquakes#global-earthquakes--visualization">Check it out</a>
  </div>
</div>

